body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    border: 4px groove rgb(20, 6, 2);
    margin: 4px;
    color: #eb2323
}

.city {
    border: 4px groove red;
    margin: 10px;
}

#moonar {
    border: 4px groove blue;
    margin: 10px;
}

#varkala {
    border: 4px groove rgb(208, 219, 205);
    margin: 10px;
}

.city {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 160%;
    font-weight: bold;
}

.cityheading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline rgb(104, 50, 158) double;
}

.subheading1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #20074c
}

h1 {
    font-variant: small-caps;
    font-size: 500%;
    font-weight: bold;
    color: rgba(255, 0, 251, 0.824)
}

h2 {
    font: italic small-caps bold 50px 'ARIAL BLACK';
    color: rgba(243, 132, 13, 0.824) text-shadow
}

h4 {
    text-transform: uppercase;
}

h5 {
    text-transform: capitalize;
}

h6 {
    text-transform: capitalize;
}

#navbar {
    background-color: yellowgreen;
    height: 60px;
}

#navbar .navbar-brand {
    width: 200px;
    background-color: rgb(245, 42, 164);
    float: left;
    padding-top: 20px;
    padding-left: 10px;
}

#navbar .nav {
    width: 80%;
    background-color: rgb(248, 149, 113);
    float: left;
}

#navbar .nav ul {
    list-style-type: none;
    padding: 0px;
}

#navbar .nav ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#navbar .nav ul li a:link {
    color: rgb(212, 212, 31);
    text-decoration: none;
    padding:15px 25px;
}