/* CSS styles for the table */
table {
  margin: 20px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 10px solid #ccc;
  padding: 10px;
}

th {
  background-color: #48de23;
}

/* Custom styles for the products page */
body {
  font-family: Arial, sans-serif;
  margin: 1px;
  padding: 1px;
}

header {
  background-color: #120f0fa2;
  color: #e2d8d8;
  padding: 10px;
}

nav ul {
  list-style:circle
  padding 0px;
}

nav ul li {
  display:inline-flexbox ;
  margin-right: 20px;
}

nav ul li a {
  color: #0ea029;
  text-decoration:none;
}

main {
  padding: 20px;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product {
  width: 50%;
  background-color: #b31897;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}


.product p {
  color: #1f632c;
  font-size: 14px;
  line-height: 1.5;
}

.product .price {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.product button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product button:hover {
  background-color: #555;
}
footer {
  background-color: #f0f0f0; /* Set your desired background color for the footer */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center; /* Center the text within the footer */
}
