body{
    font-family: "Segoe UI";
    font-size: 22px;
}
*
{
 margin:0px;
 padding:0px;
 box-sizing:border-box;
}
.sidebar
{
    background-color:rgb(4, 4, 12);
    color: red;
    height:100vh;
    width:300px
}
.sidebar-menu{
    list-style-type:none;
}
.sidebar-menu> li > a:link,
.sidebar-menu> li > a:visited{
color:whitesmoke;
text-decoration: none;
display:inline-block;
width: 100%;
padding: 10px;
line-height: 30px;
transition: all 0.3s;
}
.sidebar-menu > li > a> i{
    margin-right: 20px;
    margin-left: 15px;
}
.sidebar-menu > li > a:hover{
    color:rgb(239, 106, 11);
    border-left: 3px solid #22a6c7;
    background-color: blanchedalmond;
}
.sidebar .sub-menu > ul > li >a:link,
.sidebar .sub-menu > ul > li >a:visited{
    background-color: #e31b1b;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: darkturquoise;
    line-height: 30px;
    padding: 10px;
    transition: all0.3s;
}
.sidebar.sub-menu > ul > li > a >i{
    margin-right: 10px;
    margin-left: 40px;
}
.sidebar.sub-menu > ul > li >a:hover{
    background-color: antiquewhite;
    color:rgb(117, 239, 106);
    border-left: 5px solid #dbdbdb
}
.sidebar.sub-menu>ul{
    list-style-type: none;
    display: none;
}
.indicator
{
    float:right;
    font-size: 0.8em;
    line-height: 30px;
    transition:all 0.3s;
}
.reverse{
    transform: rotate(180deg);
}